@font-face {
  font-family: 'CustomFontRegular'; /* You can choose any name for your font family */
  src: url('./fonts/Belanosima/Belanosima-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'CustomFontSemibold'; /* You can choose any name for your font family */
  src: url('./fonts/Belanosima/Belanosima-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'CustomFontRegular2'; /* You can choose any name for your font family */
  src: url('./fonts/Lato/Lato-Regular.ttf') format('truetype');
}

/* ::-webkit-scrollbar {
  display: none;
} */

.header {
  backdrop-filter: blur(2px);
}
.profile_content_collection > label{
  font-family: CustomFontRegular;
}
.profile_content_collection > p{
  font-family: CustomFontSemibold;
}
.profile_content_collection > h4{
  font-family: CustomFontSemibold;
}
.brand_title{
  font-family: CustomFontRegular;
  font-size: 25px;
}
.nav_group{
  font-family: customFontRegular;
}
.page_title{
  font-family: customFontRegular;
}
.page_inner_sub_title{
  font-family: customFontRegular;
}
.page_content .page_content_left .inner_right_content > p{
  font-family: CustomFontRegular2;
}
.page_content_right{
  position: relative;
}
.bg_fe_be{
  background-image: url('../public/assets/image/front-end&back-end.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.inner_left_content, .inner_right_content{
  /* border: 2px solid #ccc;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  padding: 20px;
  background-color: #000; */
}
